@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');
@import "tailwindcss";


@theme {
  --color-app-primary: #2563eb;
  --color-app-dark: #172033;
  --color-app-soft: #eff6ff;

  --font-sans: "Inter", sans-serif;
}